{% extends "confisioapp/base.html" %} {% block conteudo %}
<div class="container">

    <div class="row">

        <div class="col-x6-6 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-10 col-md-offset-1">
            <form method="post" action="/lanca_atendimento/">
                {% csrf_token %}
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                          Consulta clientes
                          <span class="caret"></span>
                        </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <href="#">Cliente 1</a>
                        </li>
                        <li>
                            <href="#">Cliente 2</a>
                        </li>
                        <li>
                            <href="#">Cliente 3</a>
                        </li>
                    </div>
                </div>

                <div class="form-group col-md-2 ">
                    <label for="inputAvaliacao" class="col-form-label">Avaliação:</label>
                    <input name="avaliacao" class="form-control" id="inputAvaliacao" placeholder="Dias">
                </div>

                <div class="form-group col-md-2  ">
                    <label for="inputDiasUso" class="col-form-label">Dias de uso:</label>
                    <input name="diasUso" class="form-control" id="inputDiasUso" placeholder="Dias">
                </div>

                <div class="form-group col-md-2  ">
                    <label for="inputDias4" class="col-form-label">Dias + 4h:</label>
                    <input name="dias4" class="form-control" id="inputDias4" placeholder="Dias">
                </div>

                <div class="form-group col-md-2  ">
                    <label for="inputMediaUso" class="col-form-label">Média de uso:</label>
                    <input name="mediaHoras" class="form-control" id="inputMediaUso" placeholder="Horas">
                </div>

                <div class="form-group col-md-2  ">
                    <label for="inputPressaoM" class="col-form-label">Pressão:</label>
                    <input name="pressaoM" class="form-control" id="inputPressaoM" placeholder="Média">
                </div>

                <div class="form-group col-md-2  ">
                    <label for="inputIah" class="col-form-label">IAH:</label>
                    <input name="iah" class="form-control" id="inputIah" placeholder="Valor">
                </div>

                <div class="form-group col-md-2  ">
                    <label for="inputIa" class="col-form-label">IA:</label>
                    <input name="ia" class="form-control" id="inputIa" placeholder="Valor">
                </div>

                <div class="form-group col-md-2  ">
                    <label for="inputIh" class="col-form-label">IH:</label>
                    <input name="ih" class="form-control" id="inputIh" placeholder="Valor">
                </div>

                <div class="form-group col-md-2  ">
                    <label for="inputIac" class="col-form-label">IA Central:</label>
                    <input name="iac" class="form-control" id="inputIac" placeholder="Valor">
                </div>

                <div class="form-group col-md-2  ">
                    <label for="inputIac" class="col-form-label">Valor Consulta:</label>
                    <input name="valorConsulta" class="form-control" id="inputIac" placeholder="Valor">
                </div>

                <div class="form-group  ">

                    <textarea class="form-control" name="queixa" rows="5" id="comment" placeholder="Queixas do paciente"></textarea>
                </div>

                <div class="row">
                    <div class="col-x6-6 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-10 col-md-offset-0">
                        <form>
                            <button type="submit" class="btn btn-success">Gravar</button>

                        </form>
                    </div>
                </div>

            </form>

        </div>

    </div>




</div>
{% endblock %}