{% extends "confisioapp/base.html" %} {% block conteudo %}
<div class="container">


    {% csrf_token %}

    <div class="row">
        <div class="col-x6-6  col-sm-6  col-md-8 ">
            <div class="form-group  ">
                    <label for="pacientes">Consulta pacientes: </label>
                    <input id="pacientes" type="text" class="form-control" placeholder="Digite o nome do paciênte..."> <br>
            </div>
            
           



            <form>
                <script>
                    $(function () {
                        var availableTags = [
                            "Ana Paula",
                            "Bernardo",
                            "Carlos",
                            "Daniel",
                            "Elisa",
                            "Francisco",
                            "Géssica",
                            "Hélio",
                            "Ivan",
                            "João",
                            "Karen",
                            "Laiser",
                            "MAria",
                            "Neiva",
                            "Otávio",
                            "Paulo",
                            "Quelen",
                            "Roberto",
                            "Tatiana",
                            "Ulisses",
                            "Vanessa",
                            "Zuleica"
                        ];
                        $("#pacientes").autocomplete({
                            source: availableTags
                        });
                    });
                </script>


            </form>
        </div>
    </div>



    <div class="row">

        <div class="form-group col-md-2 ">
            <label for="inputAvaliacao" class="col-form-label">Avaliação:</label>
            <input type="number" name="avaliacao" class="form-control" id="inputAvaliacao" placeholder="Dias">
        </div>

        <div class="form-group col-md-2  ">
            <label for="inputDiasUso" class="col-form-label">Dias de uso:</label>
            <input type="number" name="diasUso" class="form-control" id="inputDiasUso" placeholder="Dias">
        </div>

        <div class="form-group col-md-2  ">
            <label for="inputDias4" class="col-form-label">Dias + 4h:</label>
            <input type="number" name="dias4" class="form-control" id="inputDias4" placeholder="Dias">
        </div>

        <div class="form-group col-md-2  ">
            <label for="inputMediaUso" class="col-form-label">Média de uso:</label>
            <input name="mediaHoras" class="form-control" id="inputMediaUso" placeholder="Horas">
        </div>

        <div class="form-group col-md-2  ">
            <label for="inputPressaoM" class="col-form-label">Pressão:</label>
            <input name="pressaoM" class="form-control" id="inputPressaoM" placeholder="Média">
        </div>

        <div class="form-group col-md-2  ">
            <label for="inputIah" class="col-form-label">IAH:</label>
            <input name="iah" class="form-control" id="inputIah" placeholder="Valor">
        </div>

        <div class="form-group col-md-2  ">
            <label for="inputIa" class="col-form-label">IA:</label>
            <input name="ia" class="form-control" id="inputIa" placeholder="Valor">
        </div>

        <div class="form-group col-md-2  ">
            <label for="inputIh" class="col-form-label">IH:</label>
            <input name="ih" class="form-control" id="inputIh" placeholder="Valor">
        </div>

        <div class="form-group col-md-2  ">
            <label for="inputIac" class="col-form-label">IA Central:</label>
            <input name="iac" class="form-control" id="inputIac" placeholder="Valor">
        </div>

        <div class="form-group col-md-2  ">
            <label for="inputIac" class="col-form-label">Valor Consulta:</label>
            <input name="valorConsulta" class="form-control" id="inputIac" placeholder="Valor">
        </div>
        <div class="form-group col-md-2  ">
            <label for="inputDoenca" class="col-form-label">Doença:</label>
            <select class="form-control col-2" id="inputDoenca" name="doenca"></select>
        </div>
        <div class="form-group col-md-2  ">
            <label for="inputAparelho" class="col-form-label">Aparelho:</label>
            <select class="form-control col-2" id="inputAparelho" name="aparelho"></select>
        </div>

        <div class="form-group  ">

            <textarea class="form-control" name="queixa" rows="5" id="comment" placeholder="Queixas do paciente"></textarea>
        </div>

        <div class="row">
            <div class="col-x6-6 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-10 col-md-offset-0">
                <form>
                    <button type="submit" class="btn btn-success">Gravar</button>
                    <button type="submit" class="btn btn-warning">Editar</button>
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
            </div>
        </div>

        </form>

    </div>

</div>




</div>
{% endblock %}