<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema ConFisio</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <script src="/static/bootstrap/js/util.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <link rel="stylesheet" href="/static/scheduler/dhtmlxscheduler.css">
    <script src="/static/scheduler/dhtmlxscheduler.js"></script>
    <script src="/static/scheduler/dhtmlxscheduler_quick_info.js"></script>


    <script src="/static/bootstrap/js/datatables.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/datatables.min.css">

    <script type="text/javascript" class="init">
        
        
            $(document).ready(function () {
                $('#example').DataTable();
            });
        </script>
</head>

<body id="corpo">
    {% include "confisioapp/navbar.html" %} {% block conteudo %} teste de conteudo {% endblock %}

</body>

<footer class="navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="copyright">
                    © 2017, All rights reserved
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="design">
                    <a>Web Design & Development by Laiser Mello and Evandro Fensterseifer</a>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>