{% extends "confisioapp/base.html" %} {% block conteudo %}
<div class="col-md-10 col-xs-offset-3">
    <form class="form-horizontal" method="post" action="/cadastro_aparelho/">
        {% csrf_token %}
        <div class="form-group">
            <div class=" col-md-6">
                <label for="aparelhos">Cadastro de aparelhos: </label>
                <input name="nome" id="equipamento" type="text" class="form-control" placeholder="informe o nome do aparelho...">
            </div>
        </div>        
            <button type="submit" class="btn btn-success">Salvar</button>        
    </form>
</div>

{% endblock %}