{% extends "confisioapp/base.html" %} {% block conteudo %}
<div class="container">  


  <div class="row">

    <div class="col-x6-6 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-10 col-md-offset-1">

      <form method="post" action="/processa_cadastro_paciente/" name="form1">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group  ">
            <label for="inputNome" class="col-form-label">Nome:</label>
            <input name="nome" class="form-control" id="inputNome" placeholder="Nome do paciente">
          </div>
          <div class="form-group ">
            <label for="inputEndereco" class="col-form-label">Endereço:</label>
            <input name="endereco" class="form-control" id="inputEndereco" placeholder="Endereço">
          </div>
          <div class="form-group ">
            <label for="inputEndereco" class="col-form-label">E-mail:</label>
            <input name="email" class="form-control" id="inputEndereco" placeholder="example@email.com">
          </div>          
          <div class="form-group col-md-4">
            <label for="inputCpf" class="col-form-label">Cpf:</label>
            <input name="cpf" class="form-control" id="inputCpf" placeholder="CPF" name="inputCpf" onBlur="ValidarCPF(form1.inputCpf);"
              onKeyPress="MascaraCPF(form1.inputCpf);" maxlength="14">
          </div>
          <div class="form-group col-md-4">
            <label for="inputDataNascimento" class="col-form-label">Data Nascimento:</label>
            <input type="date" name="dataNascimento" class="form-control" id="inputDataNascimento" placeholder="Data de Nascimento">
          </div>
          <div class="form-group col-md-4">
            <label for="inputTelefone" class="col-form-label">Telefone:</label>
            <input name="telefone" class="form-control" id="inputTelefone" placeholder="Telefone" maxlength="15" onKeyPress="MascaraTelefone(form1.telefone);"
              onBlur="ValidaTelefone(form1.telefone);">
          </div>
          <div class="form-group col-md-4">
            <label for="inputAltura" class="col-form-label">Altura:</label>
            <input name="altura" class="form-control" id="inputAltura" placeholder="Altura">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPeso" class="col-form-label">Peso:</label>
            <input name="peso" class="form-control" id="inputPeso" placeholder="Peso Kg">
          </div>
          <div class="form-group  ">
            <textarea class="form-control" name="observacao" rows="5" placeholder="Observações"></textarea>
          </div>

        </div>
        <button type="submit" class="btn btn-success">Gravar</button>
      </form>

    </div>
  </div>


  <!--div class="row">
      
              <div class="col-x6-6 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-10 col-md-offset-1">
                  
              <form>
                <button type="submit" class="btn btn-success">Gravar</button>  
                <button type="button" class="btn btn-warning">Editar</button>  
                <button type="button" class="btn btn-danger">Deletar</button>
              </form>        
              
            </div>
          </div-->

</div>


{% endblock %}