{% extends "confisioapp/base.html" %} {% block conteudo %}
<div class="col-md-10 col-xs-offset-3">
    <form class="form-horizontal" action="/cadastro_doenca/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class=" col-md-6">
                <label for="doenca">Cadastro de doenças: </label>
                <input name="doenca" id="doenca" type="text" class="form-control" placeholder="informe o nome da doença...">
            </div>
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>

    </form>
</div>
</div>
{% endblock %}