{% extends "confisioapp/base.html" %} {% block conteudo %}
<div class="col-md-10 col-xs-offset-3">
    <form class="form-horizontal" action="/cadastro_doenca/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class=" col-md-6">
                <label for="doenca">Cadastro de doenças: </label>
                <input name="doenca" id="doenca" type="text" class="form-control" placeholder="informe o nome da doença...">
            </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
            Salvar
          </button>
  
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Confirme o cadastro da doença</h4>
                </div>
                <div class="modal-body">
                  Deseja realizar o cadastro de uma nova doença?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                  <button type="submit" class="btn btn-primary">Sim</button>
                </div>
              </div>
            </div>
          </div>

    </form>
</div>
</div>
{% endblock %}