{% extends "confisioapp/base.html" %} 
{% block conteudo %}



<div class="row">
    
            <div class="col-x6-6 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-10 col-md-offset-1">
                
                <form>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Consulta cadastro de  Clientes
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Cliente1</a></li>
                            <li><a href="#">Cliente2</a></li>
                            <li><a href="#">Cliente3</a></li>
                        </ul>
                    </div>
                
                </form>        
            
           </div>
</div> 
{% endblock %}