{% extends "confisioapp/base.html" %} {% block conteudo %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      {% if lista_pacientes %}
      <table class="table table-hover table-active">
        <thead class="thead-inverse">
          <tr>
            <th>Marcar</th>
            <th>#</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Nascimento</th>
            <th>Peso</th>
            <th>Altura</th>
            <th>Observação</th>            
          </tr>
        </thead>
        <tbody>
          {% for paciente in lista_pacientes %}
          <tr>
            <td><input type="checkbox" name="paciente" value="id"></td>
            <td>{{ paciente.pk }}</td>
            <td>{{ paciente.nome }}</td>
            <td>{{ paciente.endereco }}</td>
            <td>{{ paciente.cpf }}</td>
            <td>{{ paciente.email }}</td>
            <td>{{ paciente.telefone }}</td>
            <td>{{ paciente.data_nascimento }}</td>
            <td>{{ paciente.peso}}</td>
            <td>{{ paciente.altura }}</td>
            <td>{{ paciente.observacao }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %} nenhum paciente cadatrado {% endif %}

    </div>
  </div>
</div>
{% endblock %}