{% extends "confisioapp/base.html" %} {% block conteudo %}


<div class="container">  
  {% if lista_pacientes %}
  <div class="table-responsive">
    <table id="example" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Endereço</th>
          <th>CPF</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Nascimento</th>
          <th>Peso</th>
          <th>Altura</th>
          <th>Observação</th>
        </tr>
      </thead>
      <tbody>
        {% for paciente in lista_pacientes %}
        <tr>
          <td><a href="/edicao_paciente/{{paciente.pk}}/">{{ paciente.pk }}</a></td>
          <td><a href="/edicao_paciente/{{paciente.pk}}/">{{ paciente.nome }}</a></td>
          <td><a href="/edicao_paciente/{{paciente.pk}}/">{{ paciente.endereco }}</a></td>
          <td><a href="/edicao_paciente/{{paciente.pk}}/">{{ paciente.cpf }}</a></td>
          <td><a href="/edicao_paciente/{{paciente.pk}}/">{{ paciente.email }}</a></td>
          <td><a href="/edicao_paciente/{{paciente.pk}}/">{{ paciente.telefone }}</a></td>
          <td><a href="/edicao_paciente/{{paciente.pk}}/">{{ paciente.data_nascimento }}</a></td>
          <td><a href="/edicao_paciente/{{paciente.pk}}/">{{ paciente.peso}}</a></td>
          <td><a href="/edicao_paciente/{{paciente.pk}}/">{{ paciente.altura }}</a></td>
          <td><a href="/edicao_paciente/{{paciente.pk}}/">{{ paciente.observacao }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <h2>Nenhum paciente cadatrado</h2>
  {% endif %}
</div>
{% endblock %}