{% extends "confisioapp/base.html" %} {% block conteudo %} {% if lista_atendimentos %}
<div class="container">
    <div class="row">
        <div class="col-x6-6 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-10 col-md-offset-0">
            <form>
                <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                <link rel="stylesheet" href="/resources/demos/style.css">
                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                <script>
                    $(function () {
                        var availableTags = [
                            "Ana Paula",
                            "Bernardo",
                            "Carlos",
                            "Daniel",
                            "Elisa",
                            "Francisco",
                            "Géssica",
                            "Hélio",
                            "Ivan",
                            "João",
                            "Karen",
                            "Laiser",
                            "MAria",
                            "Neiva",
                            "Otávio",
                            "Paulo",
                            "Quelen",
                            "Roberto",
                            "Tatiana",
                            "Ulisses",
                            "Vanessa",
                            "Zuleica"
                        ];
                        $("#pacientes").autocomplete({
                            source: availableTags
                        });
                    });
                </script>

                <div class="form-group col-md-8 ">
                    <label for="pacientes">Consulta pacientes: </label>
                    <input id="pacientes" type="text" class="form-control" placeholder="Digite o nome do paciênte..."> <br>

                </div>
            </form>
        </div>
    </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12">

      <table class="table table-hover table-active">
        <thead class="thead-inverse">
          <tr>
            
            <th>#</th>
            <th>Periodo de avaliação</th>
            <th>Dias com + 4</th>
            <th>Média horas</th>
            <th>IAH</th>
            <th>IA</th>
            <th>IH</th>
            <th>IA Central</th>
            <th>Queixas</th>
            <th>Conduta</th>
            <th>Valor Consulta</th>
          </tr>
        </thead>
        <tbody>
          {% for atendimento in lista_atendimentos %}
          <tr>
            
            <td>{{ atendimento.pk }}</td>
            <td>{{ atendimento.periodo_avaliacao }}</td>
            <td>{{ atendimento.dias_mais_quatro }}</td>
            <td>{{ atendimento.media_horas }}</td>
            <td>{{ atendimento.iah }}</td>
            <td>{{ atendimento.ia }}</td>
            <td>{{ atendimento.ih }}</td>
            <td>{{ atendimento.ia_central }}</td>
            <td>{{ atendimento.queixa }}</td>
            <td>{{ atendimento.conduta }}</td>
            <td>{{ atendimento.valor_consulta }}</td>
            <td><button class=" btn btn-default glyphicon glyphicon-search"></button></td>
            <td> </button><button class="btn btn-default glyphicon glyphicon-pencil"></button></td>
                        
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %} nenhum atendimento registrado {% endif %}

    </div>
  </div>
</div>
{% endblock %}