{% extends "confisioapp/base.html" %} {% block conteudo %}


<script>
    $(function () {
        var availableTags = [
            //{% for paciente in lista_pacientes %}
            "{{ paciente.nome }}",
            //{% endfor %}
        ];
        $("#pacientes").autocomplete({
            source: availableTags
        });
    });
</script>


<div class="col-md-10 col-xs-offset-2">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-8">
                <label for="pacientes">Consulta pacientes: </label>
                <input id="pacientes" type="text" class="form-control" placeholder="Digite o nome do paciente...">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <label for="inputData" class="col-form-label">Data:</label>
                <input type="date" name="data" class="form-control" id="inputData" placeholder="Data">
            </div>
        </div>

        <button type="submit" class="btn btn-success">Gravar</button>

    </form>
</div>
{% endblock %}