{% extends "confisioapp/base.html" %} 
{% block conteudo %}

<div class="row">
    
            <div class="col-x6-6 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-10 col-md-offset-1">
                
                <form>
                    <div class="form-group  ">
                        <label for="inputNome" class="col-form-label">Nome:</label>
                        <input type="nome" class="form-control" id="inputNome" placeholder="Nome do paciente">
                      </div>                     
                
                </form>     
                
                <input type="date">
            
           </div>
</div> 
{% endblock %}