<nav class="navbar navbar-default"  style="background-color: #417690;"  > 			
    <div class="container">				
        <div class="navbar-header">
            <a id="textomenu" href="" class="navbar-brand" >Sistema ConFisio</a>
            <button class="navbar-toggle glyphicon glyphicon-menu-hamburger" data-toggle ="collapse" data-target = "#lista-menu"></button>
        </div>

        <ul class="nav navbar-nav">
            <li {%if request.path == "/atendimento/" %} class="active" {% endif %}><a id="textomenu" href="/atendimento/">Atendimentos</a></li>
            <!--i {%if request.path == "/paciente/" %} class="active" {% endif %}><a href="/paciente/">Pacientes</a></li-->
            <!--li {%if request.path == "/retorno/" %} class="active" {% endif %}><a  href="/retorno/">Retornos</a></li-->
            <li class="nav-item btn-group">
                <a id="textomenu" class="dropdown-toggle nav-link" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Retornos
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/lancamento_retorno/">Lançamento</a>
                    <a class="dropdown-item" href="/consulta_retorno/">Consulta</a>
                    
                </div>
            </li>
            <li class="nav-item btn-group">
                <a id="textomenu" class="dropdown-toggle nav-link" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cadastro de Pacientes
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/cadastro_pacientes/">Cadastro</a>
                    <a class="dropdown-item" href="/consulta_pacientes/">Consulta</a>
                    
                </div>
            </li>
        </ul>
        <!--ul id="lista-menu" class="nav navbar-nav navbar-right collapse navbar-collapse">						
            <li {%if request.path == "/atendimento/" %} class="active" {% endif %}><a href="/atendimento/">Atendimentos</a></li>
            <li {%if request.path == "/paciente/" %} class="active" {% endif %}><a href="/paciente/">Pacientes</a></li>
            <li {%if request.path == "/retorno/" %} class="active" {% endif %}><a  href="/retorno/">Retornos</a></li>
        </ul-->

    </div>
    <div class="breadcrumbs" style="background-color: #79AEC8;"  > 	
    <a href="">Home</a>
    &rsaquo; <a href="">Pacientes</a>
    &rsaquo; <a href="">Retornos</a>
    </div>

</nav>