{% extends "confisioapp/base.html" %} 
{% block conteudo %}
<div class="container">
    
    <div class="row">

        <div class="col-x6-6 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-10 col-md-offset-1">
            
        <form>
              <div class="form-row">
                <div class="form-group  ">
                  <label for="inputNome" class="col-form-label">Nome:</label>
                  <input type="nome" class="form-control" id="inputNome" placeholder="Nome do paciente">
                </div>
                <div class="form-group ">
                  <label for="inputEndereco" class="col-form-label">Endereço:</label>
                  <input type="endereco" class="form-control" id="inputEndereco" placeholder="Endereço">
                </div>
                <div class="form-group ">
                  <label for="inputEndereco" class="col-form-label">E-mail:</label>
                  <input type="endereco" class="form-control" id="inputEndereco" placeholder="E-mail">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputCpf" class="col-form-label">Cpf:</label>
                  <input type="cpf" class="form-control" id="inputCpf" placeholder="CPF">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputDataNascimento" class="col-form-label">Data Nascimento:</label>
                  <input type="dataNascimento" class="form-control" id="inputDataNascimento" placeholder="Data de Nascimento">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputTelefone" class="col-form-label">Telefone:</label>
                  <input type="telefone" class="form-control" id="iinputTelefone" placeholder="Telefone">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputTelefone" class="col-form-label">Altura:</label>
                  <input type="telefone" class="form-control" id="iinputTelefone" placeholder="Altura">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputTelefone" class="col-form-label">Peso:</label>
                  <input type="telefone" class="form-control" id="iinputTelefone" placeholder="Peso Kg">
                </div>

              </div> 
         
        </form>

          

        </div>
        
    </div>
{% endblock %}